/*******************************************
 *****   TITLE OF WEBSITE HERE !!!!   ******
 -------------------------------------------
 *written by Thane Woidan - thanewoidan.com*
 ******************************************/

/* Mini-fied version of Eric Meyer's reset -- meyerweb.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}:focus{outline: 0;}body{line-height: 1; color: black; background: white;}ol,ul{list-style: none;}table{border-collapse: separate; border-spacing: 0;}caption,th,td{text-align: left; font-weight: normal;}blockquote:before,blockquote:after,q:before,q:after{content: "";}blockquote,q{quotes: "" "";}

/**************
    BASICS
**************/

html,
body {
	height: 100%;
	width: 100%;
	}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 13px;
    background: none #E6E6E6;
    }
    
/* DEFAULT MARGIN FOR BLOCK LEVEL CONTENT ELEMENTS */
address, blockquote, code, dl, ol, ul, p, pre, table {
    margin: 0 0 .75em;
    line-height: 1.5em;
    }

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .65em;
    font-weight: bold;
    font-family: Times New Roman, Times, serif;
    }

h1 {
    font-size: 1.95em;
    }

h2 {
    font-size: 1.5em;
    }

h3 {
    font-size: 1.25em;
    }

h4 {
    font-size: 1.20em;
    }

h5 {
    font-size: 1.15em;
    }

h6 {
    font-size: 1em;
    }

hr {
    border: 0;
    border-bottom: 1px dotted #CCC;
    margin: 1.25em 0;
    clear: both;
    }

/* DEFAULT MARGIN FOR BLOCK LEVEL CONTENT ELEMENTS */
address, blockquote, dl, ol, ul, p, pre, table {
	margin: 0 0 .65em;
}

ol, ul {
	list-style-position: outside;
}

li {
	margin-bottom: .25em;
	margin-left: .25em;
	padding-left: .25em;
}

ul {
	list-style-type: disc;
}

ol ul,
ul ul {
	list-style-type: circle;
	margin-bottom: 0;
	padding-left: 2.5em;
}

ol {
	list-style-type: decimal;
}

ul ol,
ol ol {
	list-style-type: lower-roman;
	padding-left: 2.5em;
}

strong,
.bold {
	font-weight: bold !important;
}

em,
.italic {
	font-style: italic !important;
}

pre {
    background: none #FFFBEF;
    border: 1px dotted #CCC;
    color: #000;
    text-shadow: 1px 1px 1px #DDD;
    font-family: monospace;
    line-height: 125%;
    margin: 15px;
    padding: 15px;
    }

a {
    text-decoration: underline;
    color: #336699;
    }

a:visited {
    color: #8D78AF;
    }

a:hover,
a:active {
    color: #FF512F;
    }

/* CLEARFIX */
.clearfix:before, .clearfix:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden;
}

.clearfix:after {
	clear: both;
	}

.clearfix {
	zoom: 1;
	}

.clear {
    clear: both;
    }

/**************
    FORMS
**************/

form {
    
    }

form div.formElement,
form h2 {
    margin: 15px 0 5px;
    }

form h2+div.formElement {
    margin-top: 5px;
    }

form label {
    display: block;
    margin: 5px 0;
    }

form input,
form select,
form textarea {
    display: block;
    margin: 5px 0;
    padding: 5px;
    }

form input[type='text'],
form input[type='password'],
form input[type='email'],
form input[type='url'],
form input[type='number'],
form input[type='date'],
form select,
form textarea {
    background: none #EEE;
    border: 2px solid #999;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    }

form input[type='text']:focus,
form input[type='password']:focus,
form input[type='email']:focus,
form input[type='url']:focus,
form input[type='number']:focus,
form input[type='date']:focus,
form select:focus,
form textarea:focus {
    border-color: #336699;
    }

form textarea {
    height: 4em;
    }

form input[type='radio'] {
    width: 13px;
    height: 13px;
    margin-right: 3px;
    display: inline;
    }

form input[type='submit'] {
    margin: 35px 0 0;
    }


/**************
    COLUMNS
**************/

.col {
	float: left;
	margin: 0 2% 2% 0;
	}

.col-25 {
	width: 23.5%;
	}

.col-33 {
	width: 32%;
	}

.col-50 {
	width: 49%;
	}

/* meant to be paired with .col-33 */
.col-66 {
	width: 66%;
	}

/* meant to be paired with .col-25 */
.col-75 {
	width: 74.5%;
	}

/* 70/30, small variation of 25/75 */
.col-70 {
	width: 69%;
	}

.col-30 {
	width: 29%;
	}

.col-last {
	margin-right: 0;
	}

/**************
    CONTAINERS
**************/

#main {
    width: 960px;
    margin: 0 auto;
	background: none #FFF;
    }

#header {
	background: none #336699;
	}

#header h1 {
	margin: 0;
	color: #FFF;
	}

#footer {
	background: none #DDD;
	color: #999;
	}

.content {
    padding: 15px;
    }